$main-header-color: #E7816B;
$container-max-width: 1280px;
$bg-pattern-hero-phone: "../../images/home/bg-pattern-hero-home.svg";
$hero-phone-img: "../../images/home/image-hero-phone.png";


.pm-aside {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
button {
    border: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #fff;
}
img {
    width: 100%;
    height: 100%;
}
ul,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
h1,h2,h3 {
    font-weight: 500;
}
.root {
    max-width: $container-max-width;
    margin: 0 auto;
}
.top-header__nav {
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
}

.hamburger {
    background-image: url("https://mocnyjakub.github.io/images/shared/mobile/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 20px;
    border: 0px;
    transform: translateY(3px);

    &.close {
        background-image: url('../../images/shared/mobile/icon-close.svg');
    }
}
.top-header__nav.active {
    position: static;
    .nav__menu {
        position: absolute;
        left: 0;
        top: 99.98px;
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        background: #1D1C1E;
        width: 100%;
        animation: over-animation .3s ease-in-out;
        li {
            a {
                color: #fff;
                font-size: 1.5rem;
            }
            &:not(:last-child) {
                padding-bottom: 3.5rem;
            }
        }
    }
}
.nav__menu {
    display: none;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    
    li {
        padding: 0px 20px;
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                cursor: pointer;
               text-decoration: underline;
            }
        }
    }
}
.top-header{
    &__nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        .nav__logo {
            width: 200px;
            height: 30px;
            display: block;
        }
        
    }
}

.main-header {
    background: $main-header-color;
    display: flex;
    padding: 5.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    
    &__text-box {
        text-align: center;
        h1 {
            font-size: 3rem;
            line-height: 3rem;
        }
        h1,p {
            padding-bottom: 1.875rem;
        }
    }
    &__button {
        padding: 1.125rem 1.5rem;
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        color: #333136;
        background-color: #FfffFF;
        border-radius: .5rem;
        font-weight: 700;
        transition: background-color .2s ease-in, color .3s ease-in;
    }
}
.design {
    margin: 7.5rem 0;
    .design__wrapper{
        .design__box {
            display: block;
            min-height: 15.625rem;
            background-color: red;
            border-radius: 0.9375rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #FfffFF;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            &:not(:last-child) {
                margin-bottom: 25px;
            }
            &::after {  
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #000;
                    opacity: .65;
                    transition: background-color .2s ease-in, color .2s ease-in;
            }
            &:hover {
                &::after {
                    background-color: #E7816B;
                }
            }
            h2,p {
                z-index: 2;
            }
            h2 {
                font-size: 1.75rem;
                line-height: 2.25rem;
                letter-spacing: 0.0875rem;
            }
            p {
                line-height: 1.375rem;
                letter-spacing: 0.3125rem;
                font-weight: 500;
            }
            .right-arrow {
                color: #E7816B;
            }
        }
    }
}

.features {
    &__wrapper {
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        .features__item {
            color: #000;
            margin: auto;
            text-align: center;
            margin-bottom: 5rem;
            &__img {
                width: auto;
                height: auto;
            }
            h3 {
                letter-spacing: 0.3125rem; 
            }
      
        }
    }
}
.contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #E7816B;
    margin: 0 1.5rem;
    border-radius: 0.9375rem;
    background-image: url('../../images/shared/mobile/bg-pattern-design-pages-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position: 70% center;
    background-size: 240%;
    transform: translateY(50%);
    height: 23.75rem;
    padding: 0 1.5rem;
    &__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        h3 {
            font-size: 2rem;
            line-height: 2.25rem;
            padding-bottom: 1.5rem;
        }
        p {
            padding-bottom: 3rem;
        }
        button {
            padding: 0 2rem;
            height: 3.8rem;
            font-size: 16px;
            display: inline-block;
            text-transform: uppercase;
            text-decoration: none;
            color: #333136;
            background-color: #FfffFF;
            border-radius: .5rem;
            font-weight: 700;
            transition: background-color .2s ease-in, color .3s ease-in;
            &:hover {
                background-color: #FFAD9B;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}
footer {
    background-color: #1D1C1E;
    padding: 18.75rem 2.5rem 6.25rem;
    .footer__wrapper {
        max-width: $container-max-width;
        width: max-content;
        margin: 0 auto;
        color: #fff;
        .footer__nav {
            text-align: center;
            margin: 0 auto;
            &__logo {
                display: block;
                height: 1.875rem;
                width: 12.5rem;
                margin: 0 auto;
                padding-bottom: 1.875rem;
                border-bottom:  2px solid #333136;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            ul {
                padding: 0;
                list-style-type: none;;
            }
            a {
                display: block;
                padding-top: 1.875rem;
                color: #fff;
                text-decoration: none;
               
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .footer__bot {
            .footer__contact-info {
                address {
                    padding: 3.125rem 0;
                    text-align: center;
                    p:not(:first-child) {
                        color: #f1f3f599;
                    }
                    &:last-child {
                        padding-top: 0;
                    }
                }
            }
            .footer__socials {
                display: flex;
                padding: 0;
                justify-content: space-between;
                li {
                    list-style-type: none;
                    a {
                        opacity: 0.6;
                        img {
                            width: auto;
                            height: auto;
                        }
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 420px) {
    .design__wrapper  {
        .design__box:nth-of-type(1){
        background-image: url("../../images/home/image-web-design.jpg");
        background-position: 50% 50%;
      }
      .design__box:nth-of-type(2){
        background-image: url("../../images/home/image-app-design.jpg");
        background-position: 50% 50%;
      }
      .design__box:nth-of-type(3){
        background-image: url("../../images/home/image-graphic-design.jpg");
        background-position: 50% 50%;
      }
    }
}
@media screen and (min-width: 768px) {
    .nav__menu {
        display: flex;
    }
    .hamburger {
        display: none;
    }
    .top-header {
        padding: 0rem 2.5rem;
        &__nav {
            padding: 4rem 0;
        }
    }
    .cta-text {
        padding: 0 8%;
    }
    .main-header {
        margin: 0 40px;
        border-radius: 20px;
        padding: 9.5rem 0;

        &__text-box {
            text-align: left;
            h1,p {
                padding-bottom: 2.5rem;
            }
            p {
                padding-right: 11%;
            }
        }
        &__button:hover {
            background-color: #FFAD9B;
            color: #FfffFF;
            cursor: pointer;
        }
    }
    .features__wrapper {
        padding: 5rem 2.5rem;
        padding-bottom: 0;
        flex-direction: column;
        .features__item {
            display: flex;
            text-align: left;
            
            .features__item__text {
                padding-left: 25px;
                padding-top: 35px;
                h3 {
                    padding-top: 0;
                    padding-bottom: 1.875rem;
                }
                p {
                    padding: 0;
                }
            }
        }
    }
    footer {
        .footer__wrapper {
            width: auto;
            .footer__nav {
                display: flex;
                justify-content: space-between;
                border-bottom: 2px solid #333136;
                
                &__logo {
                    margin: 0;
                    border: none;
                }
                ul {
                    display: flex;
                    li {
                        &:not(:last-child) {
                            margin-right: 2.5rem;
                        }
                    }
                }
            }
            .footer__bot {
                display: flex;
                padding-top: 2.5rem;
                justify-content: space-between;
                align-items: flex-end;
                .footer__contact-info {
                    display: flex;
                    address {
                        padding: 0;
                        &:first-child {
                            padding-right: 4.375rem;
                        }
                    }
                }
                .footer__socials {
                    li:not(:last-child) {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1024px) {
    .main-header {
        background-image: url($hero-phone-img), url($bg-pattern-hero-phone);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position: center right;
        justify-content: flex-start;
        &__text-box {
            width: 50%;
        }
    }
    .design {
        .design__wrapper {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(2,1fr);
            gap: 1.875rem;
            height: 40rem;
            .design__box {
                h2 {
                    font-size: 2.5rem;
                    line-height: 3rem;
                    letter-spacing: 0.125rem;
                    margin-bottom: 1.25rem;
                }
            }
            .design__box:nth-of-type(1) {
                grid-row: 1/3;
                grid-column: 1/3;
                background-image: url("../../images/home/image-web-design-large.jpg");
            }
            .design__box:nth-of-type(2) {
                grid-row: 1/2;
                grid-column: 3/5;
            }
            .design__box:nth-of-type(3) {
                grid-row: 2/3;
                grid-column: 3/5;
            }
            .design__box:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }
    .features__wrapper {
        flex-direction: row;
        .features__item {
            flex-direction: column;
            text-align: center;
            .features__item__text {
                padding: 0 15px;
            }
            &__img {
                margin: 0 auto;
                margin-bottom: 3.125rem;
                width: 190px;
                height: 160px;
            }
        }
    }
    .contact-us {
        margin: 0;
        &__wrapper {
            flex-direction: row;
            text-align: left;
            .text-box {
                flex: 5;
                h3 {
                    font-size: 2.5rem;
                    padding-right: 20rem;
                }
                p {
                   width: 80%;
                }
            }
            button {
                flex: 1;
            }
        }
    }
}

@keyframes over-animation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}